@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Rampart+One&family=Square+Peg&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

header {
    display: flex;
    width: 100%;
    background-color: gray;
    flex-direction: row-reverse;
    height: 8%;
    top: 0px;
    position: sticky;
}

header div {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 30%;
    /* height: 80%; */
    color: white;
    background-color: black;
    margin: 6px;
    border-radius: 4px;
}

header span {
    background-color: transparent;
    font-size: medium;
    padding: 4px;
}

.score {
    background-color: blue;
}

.life {
    background-color: green;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 84%;
}

.question {
    text-align: center;
}

.question h1 {
    font-family: 'Rampart One', cursive;
    border-left: red solid 2px;
    border-right: red solid 2px;
    border-bottom: red solid 2px;
    border-radius: 8px;
    margin: 6px;

}

.question h3 {
    padding-top: 6px;
    margin: 6px;
    background-color: black;
    color: white;
    font-size: medium;
    font-family: 'Orbitron', sans-serif;
}

.notification {
    padding: 4px;
    text-align: center;
    background-color: rgb(147, 238, 147);
    margin: 6px;
    margin-bottom: 0;

}


.notification span {
    background-color: transparent;
    font-family: 'Square Peg', cursive;
    font-weight: bold;
    cursor: pointer;
}

.action {
    display: flex;
    padding: 4px;
    text-align: center;
    background-color: rgb(147, 238, 147);
    /* margin: 6px; */
    margin-left: 6px;
    margin-right: 6px;
    justify-content: space-around;
    border-left: 2px solid red;
    border-right: 2px solid red;
    border-bottom: 2px solid red;
    border-radius: 8px;
}

.action span {

    /* background-color: transparent; */
    font-family: 'Square Peg', cursive;
    width: 30%;
    border: 1.5px solid;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: bold;
    cursor: pointer;
}

.selected {
    background-color: red;
    color: white;
}



.blink {
    animation: blinker 1.7s step-start infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

footer {
    display: flex;
    flex-direction: column;
    background-color: gray;
    width: 100%;
    height: 8%;
    text-align: center;
}


.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

footer h3,
h5 {
    color: aliceblue;
    background-color: transparent;
    font-family: 'Square Peg', cursive;
    font-weight: bolder;
}

.color_boxes {
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 4px;
}

.flex-item {
    display: flex;
    width: 30%;
    height: 30%;
    margin: 4px;
    align-items: center;
    justify-content: center;
    border: solid 1.5px black;
    border-radius: 6px;
    cursor: pointer;
}

.game-background {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.game-over {
    display: flex;
    flex-direction: column;
    height: 60%;
    width: 80%;
    margin: 4px;
    top: 20%;
    align-items: center;
    /* justify-content: center; */
    border: solid 1.5px black;
    border-radius: 6px;
    box-shadow: 0px 20px 10px 10px rgb(110, 110, 230);


}

.gameover-text {
    padding-top: 5%;
    height: 84%;
    text-align: center;
}

.gameover-text h2 {
    height: 50%;
    font-size: large;
    font-family: 'Orbitron', sans-serif;
}

.gameover-text span {
    height: 50%;
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Orbitron', sans-serif;
}

.gameover-btn {
    padding-bottom: 1%;
    height: 10%;
    width: 90%;
    text-align: center;
}

#gameover-btn {
    background-color: aquamarine;
    width: 60%;
    padding: 6px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}



#box_1 {
    background-color: red;
}

#box_2 {
    background-color: blue;
}

#box_3 {
    background-color: yellow;
}

#box_4 {
    background-color: green;
}

#box_5 {
    background-color: indigo;
}

#box_6 {
    background-color: violet;
}

#box_7 {
    background-color: orange;
    /* display: none; */
}

#box_8 {
    background-color: brown;
    /* display: none; */
}

#box_9 {
    background-color: magenta;
    /* display: none; */
}

.show_hide {
    display: none;
}